body {
    border: 2px solid red;
    
}
.login_container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.login_input{
    border:none;
    border-bottom: 1px solid black;
}
.login_btn{
 padding: 8px 20px;
 cursor: pointer;
}